*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    width: 1440px;
    padding: 22px 208px;
    justify-content: center;
    align-items: center;
}
.vector{
    display: flex;
    padding: 48px;
    justify-content: center;
    text-align: center;
}
.branding{
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 900;
}